In [4]:
#empty dictionary 
empty_dict = {}
empty_dict = dict()


my_dict = {1:'name',2 :'hello', 'name': 'hello', 'list' : [1,2,3,4,5]}
my_dict

{1: 'name', 2: 'hello', 'name': 'hello', 'list': [1, 2, 3, 4, 5]}

In [9]:
# converting the list into dict 
d1 = dict([[1,"abc",],[2,'cde'],[3,'def']])
print(d1)
# converting the tuple into dict 
d2= dict([{'a',1},{'b',2},{'c',3}])
print(d2)
# converting the list into dict 
#tuple of tuple
# tuple of set

{1: 'abc', 2: 'cde', 3: 'def'}
{1: 'a', 2: 'b', 3: 'c'}

In [13]:
# dictionary can be accessed by key 
my_dict = {'name':"Satish",'age': 27  ,'address':'jabalpur'}
print(my_dict['name'])
print(my_dict['address'])
print(my_dict['age'])
# if key is not present in the dict it will give key error

Satish
jabalpur
27

In [14]:
# we can access the key by get() also
my_dict = {'name':"Satish",'age': 27  ,'address':'jabalpur'}
print(my_dict.get('degree'))

None

In [16]:
#update the value and add the value 
my_dict = {'name':"Satish",'age': 27  ,'address':'jabalpur'}
my_dict['name'] = 'raju'
print(my_dict)
my_dict['name1'] = 'rajuuu'
print(my_dict)

{'name': 'raju', 'age': 27, 'address': 'jabalpur'}
{'name': 'raju', 'age': 27, 'address': 'jabalpur', 'name1': 'rajuuu'}

In [18]:
# delete the key
my_dict = {'name':"Satish",'age': 27  ,'address':'jabalpur'}
print(my_dict.pop('age'))
print(my_dict)

27
{'name': 'Satish', 'address': 'jabalpur'}

In [23]:
my_dict = {'name':"Satish",'age': 27  ,'address':'jabalpur'}
print(my_dict.popitem())
print(my_dict)
# popitem delete the last key value pair of the dictionary
del my_dict['name'] 
print(my_dict)
#del can delete the whole dict or the key value pair

('address', 'jabalpur')
{'name': 'Satish', 'age': 27}
{'age': 27}

In [24]:
my_dict = {'name':"Satish",'age': 27  ,'address':'jabalpur'}
my_dict.clear()
print(my_dict)
# clear delete the whole element of the dictionary

{}

In [ ]:
x  = [1,2,3,4,5,6,89]
y = x#shallow copy
y[2] = 0
print(y)
print(x)

[1, 2, 0, 4, 5, 6, 89]
[1, 2, 0, 4, 5, 6, 89]

In [28]:
x  = [1,2,3,4,5,6,89]
y = x.copy()# copy
y[2] = 0
print(y)
print(x)

[1, 2, 0, 4, 5, 6, 89]
[1, 2, 3, 4, 5, 6, 89]

In [30]:
# fromkeys(seq ,v)
# returns a new dictionary with key from seq and values
subject = {}.fromkeys(['math','english','hindi'],0)
print(subject)

{'math': 0, 'english': 0, 'hindi': 0}

In [ ]:
subject = {2:4,3:9,4:16,5:25}
print(subject.items())# returns key value pairs for traversing the dict 
print(subject.keys())# returns keys for traversing the dict 
print(subject.values())# returns value for traversing the dict

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])
dict_keys([2, 3, 4, 5])
dict_values([4, 9, 16, 25])

In [38]:
subject = {2:4,3:9,4:16,5:25}
for k in subject .keys():
    print(subject[k],end = ' ')
# iteration in dict

4 9 16 25

In [40]:
subject = {2:4,3:9,4:16,5:25}
for v in subject.values():
    print(v,end = ' ')

4 9 16 25

In [44]:
d = {3:5,4:7, 8:10,9:11,12:35}
for k in d.keys():
    if k %2!=0:
        d[k] +=5
d

{3: 10, 4: 7, 8: 10, 9: 16, 12: 35}

In [62]:
d = {3:[1,2,3,4,6],4:[7,8,9,10],5:[2,3,4,7,8],6:[1,3,5,2]}


for k,v in d.items():
    if k %2!=0:
        count_odd= 0
        for i in v:
            if i%2 != 0:
               count_odd += 1
        d[k] = count_odd
               
    elif k%2 ==0:
        count_even= 0
        for i in v:
           if i%2== 0:
               count_even += 1 
        d[k] = count_even
print(d)

{3: 2, 4: 2, 5: 2, 6: 1}

In [70]:
lst = [3,5,7,2,3,5,8,7,9,5,10,5,2]
d = {}
for i in lst:
    d[i] = lst.count(i)
print(d)

{3: 2, 5: 4, 7: 2, 2: 2, 8: 1, 9: 1, 10: 1}

In [77]:
d = {3:5,4:7,5:9,15:25,7:89}
x = max(d.keys())
print(x,d[x])
k1,v1 = 3,5
for k,v in d.items():
    if v > v1:
        k1 = k 
        v1 = v
print(k1,v1)

15 25
7 89

# dict comprehension

In [79]:
d = {3:5,4:7,5:9,15:25,7:89}
d1 = {k:v for k,v in d.items() if v >12}
print(d1)

{15: 25, 7: 89}

In [87]:
d = {'a':1,'b':2, 'c':3,'d':4,'e':5}
d1 = {k+'c':v*2 for k,v in d.items() if v >2}
d1

{'cc': 6, 'dc': 8, 'ec': 10}

In [89]:
d = {3:[1,2,3,4,6],4:[7,8,9,10],5: [2,3,4,7,8],6:[1,3,5,2]}
d1= {k: sum(v) for k,v in d.items()}
d1

{3: 16, 4: 34, 5: 24, 6: 11}

In [1]:
d = {3:[1,2,3,4,6],4:[7,8,9,10],5: [2,3,4,7,8],6:[1,3,5,2]}
for  k in d.keys():
    d[k] = sum(d[k])
    
print(d)

{3: 16, 4: 34, 5: 24, 6: 11}

In [2]:
d = {3:[1,2,3,4,6],4:[7,8,9,10],5: [2,3,4,7,8],6:[1,3,5,2]}
for k,v in d.items():
    d[k] = [i+1 for i in v]
print(d)

{3: [2, 3, 4, 5, 7], 4: [8, 9, 10, 11], 5: [3, 4, 5, 8, 9], 6: [2, 4, 6, 3]}