LIST:
* Mix datatype
* Mutable
* Sequenced

In [ ]:
#Creating List

emptylst = []#empty lst

lst_int = [2,3,4,6]#list of integers

lst_str= ['one','two']#list of strings

lst_lists = [[1,2,3,4],[2,3,4]]#list of list

lst_mix = [1,3,4,'hii']#mixed datatype

In [2]:
# SLICING 

lst = [1,3,5,4,2,9,11,12,19,10,5,3,12]
print(lst[4:-7:-3])
print(lst[-4:-7:3])
print(lst[-7:-30:-10])
print(lst[30::10])
print(lst[-10::-3])
print(lst[::-3])

[]
[]
[11]
[]
[4, 1]
[12, 10, 11, 4, 1]

In [1]:
# UPDATE LIST

fruits = ['apple',"banana","cherry","kiwi","guava"]
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'guava']

In [2]:
# method 1
fruits[3] = 'watermelon'
print(fruits)

['apple', 'banana', 'cherry', 'watermelon', 'guava']

In [3]:
# method 2 (.append())
fruits.append('orange') #adds an item to the end
print(fruits)

['apple', 'banana', 'cherry', 'watermelon', 'guava', 'orange']

In [ ]:
# method 3 (insert())
#fruits.insert(3,'lichi')# adds element at the given index
#print(fruits)
fruits = ['apple',"banana","cherry","kiwi","guava"]
fruits.insert(-3,'lichi')# adds element at the given length - index 
print(fruits)
fruits.insert(-13,'plum')
print(fruits)
fruits.insert(13,'mango')# works as an append
print(fruits)

['apple', 'banana', 'lichi', 'cherry', 'kiwi', 'guava']
['plum', 'apple', 'banana', 'lichi', 'cherry', 'kiwi', 'guava']
['plum', 'apple', 'banana', 'lichi', 'cherry', 'kiwi', 'guava', 'mango']

In [11]:
# method 4 (extend())
#list1 = [1,2,3]
list1 = [1,2,3,[4,7],9]
list2 = [4,5,6]
#list1.extnd(5) #iterable: any iterable(list, tuple, set...)
list2.extend(list1)
print(list2)

[4, 5, 6, 1, 2, 3, [4, 7], 9]

DELETE METHODS

In [1]:
# method 1 :using del keyword

lst = ['one','two','three','four']
del lst[2]
print(lst)

# del lst
# print(lst)

['one', 'two', 'four']

In [ ]:
#method 2 pop()
lst = ['one','two','three','four']
#we can delete element using pop from given index
a = lst.pop(3)
print(lst)
print(a)

['one', 'two', 'three']
four

In [ ]:
#method 3 remove()
#remove the first occurence of given value
#lst= [1,2,3,4,5,6,7]
lst= [1,2,3,[4,5],4,7]
print(lst)
lst.remove(4)
#lst.remove(10)# gives error
print(lst)

[1, 2, 3, [4, 5], 4, 7]
[1, 2, 3, [4, 5], 7]

In [ ]:
#The count method in a list is used to count the no.of times
number = [1,2,3,4,5,[6,5],7]

In [ ]:
#reverse method
n = [1,2,3,4,5,6,7]

n.reverse() # reverses the actual list
#n[::-1]#does not changes the actual list
print(n)

[7, 6, 5, 4, 3, 2, 1]

In [19]:
#index function
#to check the element is present at which index
lst = [2,5,'apple',6,2]
lst.index(2)

0

In [ ]:
numbers = [11,22,33,4,5]
for i in range(len(numbers)):
    print(numbers[i])

11
22
33
4
5

In [ ]:
#count even and odd numbers .
number = [3,5,7,9,2,4,8,11,12,14]
even = 0 
odd = 0
for i in range(len(number)):
    if(i%2==0): #if number[i]%2==0:
        even +=1
    else:
        odd +=1
print(even , odd)

5 5

In [26]:
# wap which will take lst as an input, even numbers +5 and odd numbers - 3.
n = eval(input("Enter the list: "))

for i in range(len(n)):
    if(n[i]%2==0):
        n[i]+=5
    else:
        n[i]-=3
print(n)

[-2, 7, 0, 9, 2, 11, 4, 13, 6]

In [6]:
#swap alternate values of the list
lst = [3,5,7,9,2,8,11,15,12,14]
for i in range(0,len(lst),2):
    lst[i],lst[i+1] = lst[i+1],lst[i]
print(lst)

[5, 3, 9, 7, 8, 2, 15, 11, 14, 12]

In [ ]:
#calculate largest element
lst = [3,5,6,7,8,9,10,24,74,3,4,5,2,7]
max1 = lst[0]
for i in range(0,len(lst),1):
    if(max1 < lst[i]):
        max1 = lst[i]
print(max1)

74

In [ ]:
#calculate second largest
lst = [3,5,6,7,8,9,10,24,74,3,4,5,2,7]
max1,max2 = lst[0],lst[1]

for i in range(0,len(lst),1):
    if(max1 < lst[i]):
        max2 = max1
        max1 = lst[i] 
        
    elif(max2 < lst[i]):
        max2 = lst[i]
print(max2)
print(max1)

24
74

In [13]:
n = int(input("Enter a number:"))
lst = [1,2,3,4,5,6,7,8,9]
sum = 0
for i in range(1,len(lst),1):
    if(n%i==0):
        sum +=i
print(sum)

16

In [23]:
lst = [25,3,2,20,8,15,6,12,10]
lst.reverse()
newlst = [lst[0]]
n = lst[0] 
for i in lst:
    if n < i:
        n = i
        newlst.append(i)

newlst.reverse()
print(newlst)

[25, 20, 15, 12, 10]

In [24]:
lst = [3,5,7,2,8,9]
newlst = []
for i in lst:
    newlst.append(i*i)
print(newlst)

[9, 25, 49, 4, 64, 81]

LIST COMPREHENSION
[expression  for loop  condition]

In [26]:
lst= [3,5,7,2,8,9]
lst1 = [i*i for i in lst]
print(lst1)

[9, 25, 49, 4, 64, 81]

In [28]:
lst = [3,5,-7,8,-3,12,-18,-23]
lst1 = [i for i in lst if i>0]
lst2 = [i for i in lst if i<0]
print(lst1)
print(lst2)

[3, 5, 8, 12]
[-7, -3, -18, -23]

In [35]:
lst = [3,5,7,2,8,9,12,13,15]
lst1 = ["even" if i%2==0 else "odd" for i in lst]

print(lst1)

['odd', 'odd', 'odd', 'even', 'even', 'odd', 'even', 'odd', 'odd']

sort() and sorted()

In [36]:
n = [1,3,5,9,2,6,7,8]
n.sort(reverse=True)# do not return anything
print(n)

[9, 8, 7, 6, 5, 3, 2, 1]

In [38]:
n = [1,3,5,9,2,6,7,8]
x= sorted(n,reverse=True)
print(x)
print(n)

[9, 8, 7, 6, 5, 3, 2, 1]
[1, 3, 5, 9, 2, 6, 7, 8]

min(),max() and sum()

In [1]:
n = [1,3,5,9,2,6,7,8]
print(min(n))
print(max(n))
print(sum(n))

1
9
41

In [ ]:
lst = [[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2]]
newlst = []

for i in lst:

        newlst.append(max(i))
print(newlst)

[9, 9, 8, 8]

In [5]:
lst = [[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2]]
newlst = [ max(i) for i in lst ]
print(newlst)

[9, 9, 8, 8]

In [15]:
lst = [[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2]]
newlst =[]

for i in lst:
    sum = 0
    for j in i:
        
        if(j%2!=0):
            sum +=j 
    newlst.append(sum)
print(newlst)

[24, 14, 15, 3]

In [1]:
lst = [[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2,6]]
for i in range(0,len(lst)-1,2):
   for j in range(0,len(lst[i])-1,2):
        lst[i][j],lst[i+1][j] = lst[i+1][j],lst[i][j]

print(lst)

[[8, 5, 5, 9], [3, 2, 7, 9], [8, 3, 2, 8], [7, 3, 5, 6]]