* Immutable

In [1]:
x = "Let's Learn Python"
print(x[::-3])
print(x[7::4])
print(x[10:])
print(x[::3])
print(x[-3:-10:-5])
print(x[-2:])

nt a t
e h
n Python
L'LrPh
hn
on

In [2]:
s1 = "learning"
s2 = "python"
print(s1)
#concatenation of 2 strings
s1 = s1 + s2
print(s1)

#repeat string n times
s = s1 * 4
print(s)

learning
learningpython
learningpythonlearningpythonlearningpythonlearningpython

String Membership test

In [ ]:
print('o' in 'Hello World')#in perator to test membership

Methods

In [3]:
#lower
x='PYTHON'
y=x.lower()
print(x)
print(y)

PYTHON
python

In [4]:
#upper
x='python'
y=x.upper()
print(x)
print(y)

python
PYTHON

In [5]:
#capitalize
a = "PYTHON I am python ".capitalize()
print(a)

Python i am python

In [21]:
#replace
text = "apple banana apple cherry"
modified = text.replace("apple","orange")
print(modified)

orange banana orange cherry

In [6]:
#split() - converts string into list word by word
str="hello user i am learning python"
lst = str.split()
print(lst)

['hello', 'user', 'i', 'am', 'learning', 'python']

In [ ]:
str1="007-783647-9283"
lst1 = str1.split(sep="-")# sep removes the specified thing
print(lst1)

['007', '783647', '9283']

In [9]:
#join()- converts list into string
lst2=['007', '783647', '9283']
str2 = "-".join(lst2)
print(str2)

007-783647-9283

In [15]:
s = eval(input("Enter the date: "))
l = s.split(sep="/")
print(l)
day = l[0]
month = l[1]
year = l[2]
print("day = " ,day)
print("month = ", month)
print("year = " ,year)

['3', '5', '2025']
day =  3
month =  5
year =  2025

In [20]:
s1 = input("Enter the sentence:")
l1 = s1.split()

word = ""
for i in range(len(l)):
    if len(l1[i])>len(word):
        word=l1[i]
print(word,len(word))

python 6

In [ ]:
#palindrome
string = input("Enter the string :")

string.reverse()

In [25]:
#replace . - , and , - .
a = "Hello, everyone. Let's, learn, python."
modified_a = a.replace(",","/")
modified_a1 = modified_a.replace(".",",")
modified_a2 = modified_a1.replace("/",".")
print(modified_a2)

Hello. everyone, Let's. learn. python,

In [27]:
a1 = "Hello, everyone. Let's, learn, python.
a1 = a1.replace(",","/")
a1 = a1.replace(".",",")
a1 = a1.replace("/",".")
print(a)

SyntaxError: unterminated string literal (detected at line 1) (2681958942.py, line 1)