TUPLE : 
immutable

In [1]:
tpl=()#empty tuples
tpl1=tuple()#empty tuples
tpl2 = (1,2,3,'hiii')
print(tpl,tpl1,tpl2)

() () (1, 2, 3, 'hiii')

In [ ]:
#tpl=(5)#gives class<int> in single value
tpl = (5,)# a comma is compulsory.
print(type(tpl))

<class 'tuple'>

In [ ]:
# values can be only accessed not changed or updated
tpl = (1,2,3,4,5,6,7)
tpl[1]

2

In [ ]:
del tpl# deleted the tuple tpl.
print(tpl)

NameError: name 'tpl' is not defined

In [ ]:
tpl=(1,2,3,4,5)
print(dir(tpl))
print(id(tpl))
tpl+=(6,7,8,9)#concatenation
print(id(tpl))# created tuple is in different address
print(tpl)

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
2496350719488
2496347586752
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [10]:
tpl = [1,2,3,4]
print(tuple(tpl))

(1, 2, 3, 4)